.siteLayoutContent {
  background-color: #f4f5f7;
}
.header {
  border-bottom: 1px solid #d9d9d9;
}

.currentCard {
  margin: auto;
}
.title {
  position: relative;
  left: -350px;
  font-size: 24px;
}
.logo {
  position: relative;
  left: -400px;
  top: 10px;
}

@media (max-width: 1500px) {
  .title {
    position: relative;
    left: -250px;
    font-size: 24px;
  }
  .logo {
    position: relative;
    left: -300px;
    top: 10px;
  }
}

@media (max-width: 1250px) {
  .title {
    position: relative;
    left: -30px;
    font-size: 24px;
  }
  .logo {
    position: relative;
    left: -70px;
    top: 10px;
  }
}

@media (max-width: 415px) {
  .title {
    position: relative;
    left: -150px;
    font-size: 24px;
    display: none;
  }
  .logo {
    position: relative;
    left: -50px;
    top: 10px;
  }
}
